# Node.js 的依赖文件夹
node_modules/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略环境配置文件（如果使用了 dotenv 或其他方式存储敏感信息）
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 忽略 MongoDB 数据库文件（如果将数据库嵌入到项目目录中）
db/

# 忽略 IDE 配置文件
.vscode/
.idea/

# 忽略日志文件
logs/
*.log

# 忽略临时文件和缓存
*.swp
*.bak
*.tmp
.cache/

# 忽略构建/打包产物（如果有）
dist/
build/
